html, body{
    height: 100%;
}

body{
    /* background: #e0e0e0; */
}

main{
    height: 100% !important;
}

.full-height{
    height: 100% !important;
}

.navbar-height{
    height: 64px;
}

.custom-line-height{
    line-height: 1.5;
}

.vertical-align{
    display: flex;
    align-items: center;
}

h1, h5 {
    font-family: 'Poppins', sans-serif;
}

.banner{
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    background-color: #005b99;
    color: white;
}

.no-border{
    border:none;
    border-radius:0;
}

.logo{
    opacity: .5;
}

footer{
    padding-top:64px;
    background: linear-gradient(223deg, #005b99, #0021a7, #3a4b8e);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 99%}
        50%{background-position:100% 2%}
        100%{background-position:0% 99%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 99%}
        50%{background-position:100% 2%}
        100%{background-position:0% 99%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 99%}
        50%{background-position:100% 2%}
        100%{background-position:0% 99%}
    }
}