html, body{
    height: 100%;
}

body{
    /* background: #e0e0e0; */
}

main{
    height: 100% !important;
}

.full-height{
    height: 100% !important;
}

.navbar-height{
    height: 64px;
}

.custom-line-height{
    line-height: 1.5;
}

.vertical-align{
    display: flex;
    align-items: center;
}

h1, h5 {
    font-family: 'Poppins', sans-serif;
}

.banner{
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    background-color: #005b99;
    color: white;
}

.no-border{
    border:none;
    border-radius:0;
}

.logo{
    opacity: .5;
}

footer{
    padding-top:64px;
    
    background-color:#005b99;
}

@media only screen and (min-width: 320px) {

  /* Small screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

  /* Small screen, retina, stuff to override above media query */
  h1{
      text-align: center;
  }
  footer{
      padding-top:32px;
      height: 110%;  
  }
}

@media only screen and (max-width: 700px) {

  /* Medium screen, non-retina */
  h1{
      text-align: center;
  }
    footer{
        padding-top:32px;
        height: 110%;  
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) { 

  /* Medium screen, retina, stuff to override above media query */

}

@media only screen and (min-width: 1300px) {

  /* Large screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

  /* Large screen, retina, stuff to override above media query */

}

.button-whatsapp{
    position:fixed !important;
    bottom: 24px;
    right: 24px;
    z-index: 5;
}

.logo-smartphone{
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    opacity: .3;
}

.tectro-color{
    color: #005b99;
}

.menu {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #005b99; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.selectable{
    cursor: pointer;
}

.subheader-image-padding{
    padding-right: 12px;
}

#menuContent{
    position:fixed;
    margin-top:64px;
    width: 100%;
    z-index: 9999;
    background-color: white;
    border-bottom: 1px solid grey;
    transition: 0.5s;
}